<app-nav-menu></app-nav-menu>
<!--<p *ngIf="myAuthority==2">dashboard works!</p>-->

<div class="content">
  <h1 class="text-center">{{'dashboard.welcomeMessage'|translate}} {{username}}</h1><hr />
 
      <div class="d-flex justify-content-start">
        <div class="container">
          <table class="table">
            <thead class="thead-dark">
              <tr>
                <th scope="col">#</th>
                <th scope="col">{{'nav.entries.overview.title'|translate}}</th>
                <th scope="col">{{'nav.entries.overview.body'|translate}}</th>
                <th scope="col">{{'nav.entries.tags'|translate}}</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let post of postList; let i=index">
                <th scope="col">{{i+1}}</th>
                <th scope="col">{{post.title}}</th>
                <th scope="col">{{post.body}}</th>
                <th scope="col">{{post.tags}}</th>
              </tr>
            </tbody>
          </table>
        </div>
      </div>





    </div>
