<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css" />
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">
<app-standard-user-navbar></app-standard-user-navbar>
<br />
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css" />
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card">
        <div class="card-header">{{'registration.title'|translate}}</div>
        <div class="card-body">
          <form id="registerForm" [formGroup]="regisFG" #registerForm="ngForm" action="" method="post">
            <div class="form-group">
              <input type="text" formControlName="username" #username id="username" name="username" class="form-control" placeholder="{{'login.username'|translate}}" />
              <div *ngIf="username.invalid && (username.dirty || username.touched)" class="alert alert-danger">
                <!--<div *ngIf="username.errors.required">
                  Nazwa użytkownika jest wymagana.
                </div>
                <div *ngIf="username.errors.minlength">
                  Nazwa użytkownika musi mieć co najmniej 3 znaki długości.
                </div>-->
              </div>
              <div class="form-group">
                <input type="password" formControlName="password" class="form-control" #password id="password" name="password" placeholder="{{'login.password'|translate}}" />
                <!--<div *ngIf="password.invalid && (password.dirty || password.touched)" class="alert alert-danger">
                <input type="password" formControlName="password" class="form-control" #password id="password" name="password" placeholder="{{'login.password'|translate}}" required minlength="6"/>
                <div *ngIf="password.invalid && (password.dirty || password.touched)" class="alert alert-danger">
                  <div *ngIf="password.errors.required">
                    Hasło użytkownika jest wymagane.
                  </div>
                  <div *ngIf="password.errors.minlength">
                    Hasło musi mieć co najmniej 6 znaków.
                  </div>
                </div>-->
                <div class="form-group">
                  <input type="text" formControlName="email" class="form-control" #email id="email" name="email" placeholder="{{'registration.email'|translate}}"  email="true" />
                  <div *ngIf="email.errors &&(email.touched || email.dirty)" class="alert alert-danger">
                    <!--<div [hidden]="!email.errors?.pattern">
                      Adres e-mail musi spełniać wymagania dotyczące prawidłowej notacji: użytkownik@domena
                    </div>-->
                    <div *ngIf="email.errors.required">
                      Adres e-mail jest wymagany.
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <input type="text" formControlName="name" class="form-control" #firstname id="firstname" name="firstname" placeholder="{{'registration.name'|translate}}" />
                  <!--<div *ngIf="firstname.invalid && (firstname.dirty || firstname.touched)" class="alert alert-danger">
                    <div *ngIf="firstname.errors.required">
                      Pole 'Imię' jest wymagane.
                    </div>
                    <div *ngIf="firstname.errors.minlength">
                      Imię musi mieć co najmniej 3 znaki.
                    </div>
                  </div>-->
                </div>
                <div class="form-group">
                  <input type="text" formControlName="lastname" class="form-control" #lastname id="lastname" name="lastname" placeholder="{{'registration.lastname'|translate}}" />
                  <!--<div *ngIf="lastname.invalid && (lastname.dirty || lastname.touched)" class="alert alert-danger">
                    <div *ngIf="lastname.errors.required">
                      Pole 'Nazwisko' jest wymagane.
                    </div>
                    <div *ngIf="lastname.errors.minlength">
                      Nazwisko musi mieć co najmniej 3 znaki.
                    </div>
                  </div>-->
                </div>
                <div class="form-group">
                  <input type="text" formControlName="phoneNumber" class="form-control" #phone id="phone" name="phone" placeholder="{{'registration.phone'|translate}}" pattern="[0-9]{9}$" required minlength="9"/>
                  <div *ngIf="phoneNumber.invalid && (phoneNumber.dirty || phoneNumber.touched)" class="alert alert-danger">
                    <div *ngIf="phoneNumber.errors.required">
                      Pole 'Telefon' jest wymagane.
                    </div>
                    <div *ngIf="phoneNumber.errors.minlength">
                      Numer telefonu musi mieć dokładnie 9 cyfr.
                    </div>
                  </div>
                </div>
                <div class="form-group justify-content-center">
                  <div class="col-md-8 offset-md-4">
                    <button (click)="addUser(registerForm.form)" class="btn btn-success login_btn" style="margin-right: 0.5vh;">{{'registration.register'|translate}}</button>
                    <button type="button" class="btn btn-primary" onclick="$('#registerForm')[0].reset();">{{'nav.addPost.clear'|translate}}</button>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
