<div class="container">
  <div class="row justify-content-center">
    <div class="col-3 text-center">
      <span>CPU USAGE</span>
      <div>
        <div>
          <div class="chart">
            <canvas baseChart
                    [data]="cpuUsageData"
                    [labels]="cpuUsageLabels"
                    [chartType]="cpuUsageType"
                    [options]="cpuUsageOptions"
                    [plugins]="cpuUsagePlugins"
                    [colors]="cpuUsageColors"
                    [legend]="cpuUsageLegend">
            </canvas>
          </div>
        </div>
      </div>
    </div>
    <div class="col-3 text-center">
      <span>MEMORY USAGE</span>
      <div>
        <div>
          <div class="chart">
            <canvas baseChart
                    [data]="memUsageData"
                    [labels]="memUsageLabels"
                    [chartType]="memUsageType"
                    [options]="memUsageOptions"
                    [plugins]="memUsagePlugins"
                    [colors]="memUsageColors"
                    [legend]="memUsageLegend">
            </canvas>
          </div>
        </div>
      </div>
    </div>
    <div class="col-3 text-center">
      <span>REG/s</span>
      <div>
        <div>
          <div class="chart">
            <canvas baseChart
                    [data]="memUsageData"
                    [labels]="memUsageLabels"
                    [chartType]="memUsageType"
                    [options]="memUsageOptions"
                    [plugins]="memUsagePlugins"
                    [colors]="memUsageColors"
                    [legend]="memUsageLegend">
            </canvas>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
