<div class="container">
  <div class="row justify-content-center">
    <div class="col-3 text-center">
      <span>CPU USAGE</span>
      <div>
        <div>
          <div class="chart">
            <canvas baseChart
                    [data]="cpuUsageData"
                    [labels]="cpuUsageLabels"
                    [chartType]="cpuUsageType"
                    [options]="cpuUsageOptions"
                    [plugins]="cpuUsagePlugins"
                    [colors]="cpuUsageColors"
                    [legend]="cpuUsageLegend">
            </canvas>
          </div>
        </div>
      </div>
    </div>
    <div class="col-3 text-center">
      <span>MEMORY USAGE</span>
      <div>
        <div>
          <div class="chart">
            <canvas baseChart
                    [data]="memUsageData"
                    [labels]="memUsageLabels"
                    [chartType]="memUsageType"
                    [options]="memUsageOptions"
                    [plugins]="memUsagePlugins"
                    [colors]="memUsageColors"
                    [legend]="memUsageLegend">
            </canvas>
          </div>
        </div>
      </div>
    </div>
    <div class="col-3 text-center">
      <span>MEMORY USAGE</span>
      <div>
        <div>
          <div class="chart">
            <canvas baseChart
                    [data]="memUsageData"
                    [labels]="memUsageLabels"
                    [chartType]="memUsageType"
                    [options]="memUsageOptions"
                    [plugins]="memUsagePlugins"
                    [colors]="memUsageColors"
                    [legend]="memUsageLegend">
            </canvas>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-3 text-center">
      <span>MEMORY USAGE</span>
      <div>
        <div>
          <div class="chart">
            <canvas baseChart
                    [data]="memUsageData"
                    [labels]="memUsageLabels"
                    [chartType]="memUsageType"
                    [options]="memUsageOptions"
                    [plugins]="memUsagePlugins"
                    [colors]="memUsageColors"
                    [legend]="memUsageLegend">
            </canvas>
          </div>
        </div>
      </div>
    </div>
    <div class="col-3 text-center">
      <span>MEMORY USAGE</span>
      <div>
        <div>
          <div class="chart">
            <canvas baseChart
                    [data]="memUsageData"
                    [labels]="memUsageLabels"
                    [chartType]="memUsageType"
                    [options]="memUsageOptions"
                    [plugins]="memUsagePlugins"
                    [colors]="memUsageColors"
                    [legend]="memUsageLegend">
            </canvas>
          </div>
        </div>
      </div>
    </div>
    <div class="col-3 text-center">
      <span>MEMORY USAGE</span>
      <div>
        <div>
          <div class="chart">
            <canvas baseChart
                    [data]="memUsageData"
                    [labels]="memUsageLabels"
                    [chartType]="memUsageType"
                    [options]="memUsageOptions"
                    [plugins]="memUsagePlugins"
                    [colors]="memUsageColors"
                    [legend]="memUsageLegend">
            </canvas>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


      <!--<div>
        <button mat-button mat-raised-button color="primary" (click)="cpuUsageLegend=!cpuUsageLegend">Toggle Legend</button>
        <button mat-button mat-raised-button color="primary" (click)="changeLabels()">Change Labels</button>
        <button mat-button mat-raised-button color="primary" (click)="addSlice()">Add Slice</button>
        <button mat-button mat-raised-button color="primary" (click)="removeSlice()">Remove Slice</button>
        <button mat-button mat-raised-button color="primary" (click)="changeCpuUsageLegendPosition()">Change Legend Position</button>
      </div>-->

      <!--<div>
        <button mat-button mat-raised-button color="primary" (click)="memUsageLegend=!memUsageLegend">Toggle Legend</button>
        <button mat-button mat-raised-button color="primary" (click)="changeLabels()">Change Labels</button>
        <button mat-button mat-raised-button color="primary" (click)="addSlice()">Add Slice</button>
        <button mat-button mat-raised-button color="primary" (click)="removeSlice()">Remove Slice</button>
        <button mat-button mat-raised-button color="primary" (click)="changeMemUsageLegendPosition()">Change Legend Position</button>
      </div>-->

      <!--<div>
        <button mat-button mat-raised-button color="primary" (click)="memUsageLegend=!memUsageLegend">Toggle Legend</button>
        <button mat-button mat-raised-button color="primary" (click)="changeLabels()">Change Labels</button>
        <button mat-button mat-raised-button color="primary" (click)="addSlice()">Add Slice</button>
        <button mat-button mat-raised-button color="primary" (click)="removeSlice()">Remove Slice</button>
        <button mat-button mat-raised-button color="primary" (click)="changeMemUsageLegendPosition()">Change Legend Position</button>
      </div>-->
 
    <!--<div>
      <button mat-button mat-raised-button color="primary" (click)="memUsageLegend=!memUsageLegend">Toggle Legend</button>
      <button mat-button mat-raised-button color="primary" (click)="changeLabels()">Change Labels</button>
      <button mat-button mat-raised-button color="primary" (click)="addSlice()">Add Slice</button>
      <button mat-button mat-raised-button color="primary" (click)="removeSlice()">Remove Slice</button>
      <button mat-button mat-raised-button color="primary" (click)="changeMemUsageLegendPosition()">Change Legend Position</button>
    </div>-->
    <!--<div>
      <button mat-button mat-raised-button color="primary" (click)="memUsageLegend=!memUsageLegend">Toggle Legend</button>
      <button mat-button mat-raised-button color="primary" (click)="changeLabels()">Change Labels</button>
      <button mat-button mat-raised-button color="primary" (click)="addSlice()">Add Slice</button>
      <button mat-button mat-raised-button color="primary" (click)="removeSlice()">Remove Slice</button>
      <button mat-button mat-raised-button color="primary" (click)="changeMemUsageLegendPosition()">Change Legend Position</button>
    </div>-->
