<nav class="navbar navbar-nav navbar-expand-lg navbar-dark bg-dark" style="width: 100% !important;">
  <div class="container">
    <a class="navbar-brand" href="/">
      FluxCms
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false">
      <span class="navbar-toggler-icon"></span>
    </button>
    <button (click)="useLanguage('pl')" class="btn btn-outline-secondary" type="button">PL</button>&nbsp;
    <button (click)="useLanguage('en')" class="btn btn-outline-primary" type="button">EN</button>&nbsp;
    <button (click)="useLanguage('ru')" class="btn btn-outline-secondary" type="button">RU</button>&nbsp;
    <button (click)="useLanguage('tur')" class="btn btn-outline-primary" type="button">TUR</button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <!-- Left Side Of Navbar -->
      <ul class="navbar-nav mr-auto">
      </ul>

      <!-- Right Side Of Navbar -->
      <ul class="navbar-nav ml-auto d-flex justify-content-end">
        <!-- Authentication Links -->
        <li class="nav-item">
          <a class="nav-link" href="/">{{'nav.help'|translate}}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="contact">{{'nav.contact'|translate}}</a>
        </li>
        <li *ngIf="authority>0" class="nav-item">
          <a class="nav-link" [routerLinkActive]="['link-active']" [routerLink]="['/dashboard']">{{'nav.admin'|translate}}</a>
        </li>
        <li *ngIf="!isLoggedIn" class="nav-item">
          <a class="nav-link" [routerLinkActive]="['link-active']" [routerLink]="['/login']">{{'login.login'|translate}}</a>
        </li>
        <li *ngIf="isLoggedIn" class="nav-item">
          <a class="nav-link" style="cursor:pointer" [routerLinkActive]="['link-active']" (click)="logout()">{{'nav.logout'|translate}}</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
