<nav class="d-flex justify-content-end navbar navbar-dark bg-dark text-light">
  <div class="btn-group dropleft">
    <button type="button" class="btn btn-secondary" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Dropleft
    </button>
    <div class="dropdown-menu">
      <span class="dropdown-item-text">Dropdown item text</span>
      <a class="dropdown-item" href="#">Action</a>
      <a class="dropdown-item" href="#">Another action</a>
      <a class="dropdown-item" href="#">Something else here</a>
    </div>
  </div>
</nav>
<div class="wrapper">
  <!-- Sidebar -->
  <nav id="sidebar">
    <div class="sidebar-header">
      <h3 class="text-center">Flux Cms</h3>
      <h4 class="text-center">Dashboard</h4>
    </div>
    <button (click)="useLanguage('pl')" class="btn btn-outline-secondary" type="button">PL</button>&nbsp;
    <button (click)="useLanguage('en')" class="btn btn-outline-primary" type="button">EN</button>
    <ul class="list-unstyled components">
      <li class="nav-item active" [routerLinkActive]="['link-active']" [routerLinkActiveOptions]="{ exact: true }">
        <a class="nav-link" [routerLink]="['/']">{{'nav.mainPage'|translate}}</a>
      </li>
      <li>
        <a href="#entrySubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">{{'nav.entries.top'|translate}}</a>
        <ul class="collapse list-unstyled" id="entrySubmenu">
          <li class="nav-item" [routerLinkActive]="['link-active']" [routerLinkActiveOptions]="{ exact: true }">
            <a class="nav-link" [routerLinkActive]="['link-active']" [routerLink]="['/entries']">{{'nav.entries.all'|translate}}</a>
          </li>
          <li>
            <a href="#">{{'nav.entries.add'|translate}}</a>
          </li>
          <li>
            <a href="#">{{'nav.entries.categories'|translate}}</a>
          </li>
          <li>
            <a href="#">{{'nav.entries.tags'|translate}}</a>
          </li>
        </ul>
      </li>
      <li>
        <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">{{'nav.pages.top'|translate}}</a>
        <ul class="collapse list-unstyled" id="pageSubmenu">
          <li>
            <a class="nav-link" [routerLinkActive]="['link-active']" [routerLink]="['/pages']">{{'nav.pages.all'|translate}}</a>
          </li>
          <li>
            <a href="#">{{'nav.pages.add'|translate}}</a>
          </li>
        </ul>
      </li>
      <li>
        <a href="#commentsLink">{{'nav.comments.top'|translate}}</a>
      </li>
      <li>
        <a href="#settingSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">{{'nav.settings.top'|translate}}</a>
        <ul class="collapse list-unstyled" id="settingSubmenu">
          <li>
            <a href="#usersSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">{{'nav.settings.users.top'|translate}}</a>
            <ul class="collapse list-unstyled" id="usersSubmenu">
              <li><a class="nav-link" [routerLinkActive]="['link-active']" [routerLink]="['/users']">{{'nav.settings.users.all'|translate}}</a></li>
              <li><a href="#">{{'nav.settings.users.add'|translate}}</a></li>
            </ul>
          </li>
          <li>
            <a href="#rolesSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">{{'nav.settings.roles.top'|translate}}</a>
            <ul class="collapse list-unstyled" id="rolesSubmenu">
              <li><a class="nav-link" [routerLinkActive]="['link-active']" [routerLink]="['/roles']">{{'nav.settings.roles.all'|translate}}</a></li>
              <li><a href="#">{{'nav.settings.roles.add'|translate}}</a></li>
            </ul>
          </li>
        </ul>
      </li>
      <li>
        <a class="nav-link" [routerLinkActive]="['link-active']" [routerLink]="['/contact']">{{'nav.contact'|translate}}</a>
      </li>
    </ul>
    <!-- Footer -->
  </nav>
</div>
