@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

@media (max-width: 768px) {
  #sidebar {
    margin-left: -250px;
  }

    #sidebar.active {
      margin-left: 0;
    }
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

html {
  font-size: 14px;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}


/*
    ADDITIONAL DEMO STYLE, NOT IMPORTANT TO MAKE THINGS WORK BUT TO MAKE IT A BIT NICER :)
*/

body {
  font-family: 'Poppins', sans-serif;
  background: #fafafa;
}

p {
  font-family: 'Poppins', sans-serif;
  font-size: 1.1em;
  font-weight: 300;
  line-height: 1.7em;
  color: #999;
}

a, a:hover, a:focus {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s;
}

#sidebar {
  width: 250px;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  z-index: 999;
  background: #3d3533 /*#7386D5*/;
  color: #fff;
  transition: all 0.3s;
}
.pointer{
    cursor:pointer;
}
  #sidebar>button {
      text-align:center;
      margin-left: 10%;
  }

  #sidebar .sidebar-header {
    padding: 20px;
    background: #3d3533;
  }

  #sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid whitesmoke /*#47748b*/;
  }

  #sidebar ul p {
    color: #fff;
    padding: 10px;
  }

  #sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
  }

    #sidebar ul li a:hover {
      color: #000 /*#7386D5*/;
      background: whitesmoke;
    }

  #sidebar ul li.active > a, a[aria-expanded="true"] {
    color: #000;
    background: whitesmoke;
  }

ul ul a {
  font-size: 0.9em !important;
  padding-left: 30px !important;
  background: #463f3e /*#6d7fcc*/;
}

ul ul ul a {
  font-size: 0.75em !important;
  padding-left: 50px !important;
  background: #5f5959;
}

ul ul ul li:first-child {
  border-bottom: 1px solid black;
}

.wrapper {
  display: flex;
  width: 100%;
}

a[data-toggle="collapse"] {
  position: relative;
}

.dropdown-toggle::after {
  display: block;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}

nav {
    margin-bottom: 1vh;
}
