<nav class="d-flex justify-content-end navbar navbar-dark bg-dark text-light">
  <div class="btn-group dropleft">
    <button type="button" class="btn btn-secondary" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Dropleft
    </button>
    <div class="dropdown-menu">
      <span class="dropdown-item-text">Dropdown item text</span>
      <a class="dropdown-item" href="#">Action</a>
      <a class="dropdown-item" href="#">Another action</a>
      <a class="dropdown-item" href="#">Something else here</a>
    </div>
  </div>
</nav>
<div class="wrapper">
  <!-- Sidebar -->
  <nav id="sidebar">
    <div class="sidebar-header">
      <h3 class="text-center">Flux Cms</h3>
      <h4 class="text-center">Dashboard</h4>
    </div>

    <ul class="list-unstyled components">
      <li class="nav-item active" [routerLinkActive]="['link-active']" [routerLinkActiveOptions]="{ exact: true }">
        <a class="nav-link" [routerLink]="['/']">Main page</a>
      </li>
      <li>
        <a href="#entrySubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Entries</a>
        <ul class="collapse list-unstyled" id="entrySubmenu">
          <li class="nav-item" [routerLinkActive]="['link-active']" [routerLinkActiveOptions]="{ exact: true }">
            <a href="#">All entries</a>
          </li>
          <li>
            <a href="#">Add new entry</a>
          </li>
          <li>
            <a href="#">Categories</a>
          </li>
          <li>
            <a href="#">Tags</a>
          </li>
        </ul>
      </li>
      <li>
        <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Pages</a>
        <ul class="collapse list-unstyled" id="pageSubmenu">
          <li>
            <a href="#">All pages</a>
          </li>
          <li>
            <a href="#">Add new page</a>
          </li>
        </ul>
      </li>
      <li>
        <a href="#commentsLink">Comments</a>
      </li>
      <li>
        <a href="#settingSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Settings</a>
        <ul class="collapse list-unstyled" id="settingSubmenu">
          <li>
            <a href="#usersSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Users</a>
            <ul class="collapse list-unstyled" id="usersSubmenu">
              <li><a href="#">All users</a></li>
              <li><a href="#">Add new user</a></li>
            </ul>
          </li>
          <li>
            <a href="#rolesSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Roles</a>
            <ul class="collapse list-unstyled" id="rolesSubmenu">
              <li><a href="#">All roles</a></li>
              <li><a href="#">Add new role</a></li>
            </ul>
          </li>
        </ul>
      </li>
      <li>
        <a href="#">Portfolio</a>
      </li>
      <li>
        <a href="#">Contact</a>
      </li>
    </ul>
    <!-- Footer -->
  </nav>
</div>
